<footer id="contact">
    <div class="container_footer">
      <div class="top-left_footer">
        <div class="topleftinsider_footer">
          <img
            src="https://static.wixstatic.com/media/ccc84a_1b599697031f4bba93a59fa971fa1d46~mv2.png/v1/fill/w_321,h_29,al_c,lg_1,q_85,enc_auto/ccc84a_1b599697031f4bba93a59fa971fa1d46~mv2.png"
            alt=""
          />
        </div>
      </div>

      <div class="top-right_footer">
        <div class="toprightinsider_footer">
          <h6 class="font_6" style="font-size: 18px; line-height: normal">
            <span style="letter-spacing: 0.15em"
              ><span style="font-size: 18px"
                ><span style="color: #ff5b2f"
                  ><span
                    style="
                      font-family: wfont_46a067_3cd3f1a86ec441748382f9956b9c098f,
                        wf_3cd3f1a86ec441748382f9956,
                        orig_red_hat_text_medium;
                    "
                    ><span style="font-weight: bold">CONTACT US</span></span
                  ></span
                ></span
              ></span
            >
          </h6>
        </div>
      </div>
      <div class="middleLiner_footer">
        <hr size="1" width="100%" color="#FFF" />
      </div>

      <div class="bottom-Left_footer">
        <div
          id="comp-isk9y3ew"
          data-scope=""
          data-repeater-items-indexes=""
          class="KcpHeO tz5f0K"
          data-testid="richTextElement"
        >
          <p class="font_8" style="font-size: 16px; line-height: 1.5em">
            <span style="font-size: 16px"
              ><span
                style="
                  font-family: wfont_46a067_7de579f08311434eba68d58eea57e7d2,
                    wf_7de579f08311434eba68d58ee, orig_red_hat_text_regular;
                "
                ><span class="color_11"
                  ><span style="letter-spacing: 0.02em; color: #fff"
                    >Tern Systems ehf.&nbsp;<br />
                    Hlíðasmári 15,
                  </span></span
                ></span
              ></span
            >
          </p>

          <p class="font_8" style="font-size: 16px; line-height: 1.5em">
            <span style="font-size: 16px"
              ><span
                style="
                  font-family: wfont_46a067_7de579f08311434eba68d58eea57e7d2,
                    wf_7de579f08311434eba68d58ee, orig_red_hat_text_regular;
                "
                ><span class="color_11"
                  ><span style="letter-spacing: 0.02em; color: #fff"
                    >Kópavogur 201</span
                  ></span
                ></span
              ></span
            >
          </p>

          <p class="font_8" style="font-size: 16px; line-height: 1.5em">
            <span style="font-size: 16px"
              ><span
                style="
                  font-family: wfont_46a067_7de579f08311434eba68d58eea57e7d2,
                    wf_7de579f08311434eba68d58ee, orig_red_hat_text_regular;
                "
                ><span class="color_11"
                  ><span style="letter-spacing: 0.02em; color: #fff"
                    >Iceland</span
                  ></span
                ></span
              ></span
            >
          </p>

          <p class="font_8" style="font-size: 16px; line-height: 1.5em">
            <br />
            <span style="font-size: 16px"
              ><span
                style="
                  font-family: wfont_46a067_7de579f08311434eba68d58eea57e7d2,
                    wf_7de579f08311434eba68d58ee, orig_red_hat_text_regular;
                "
                ><span class="color_11"
                  ><span style="letter-spacing: 0.02em; color: #fff"
                    >Phone +354 424 5500</span
                  ></span
                ></span
              ></span
            >
          </p>

          <p class="font_8" style="font-size: 16px; line-height: 1.5em">
            <span style="font-size: 16px"
              ><span
                style="
                  font-family: wfont_46a067_7de579f08311434eba68d58eea57e7d2,
                    wf_7de579f08311434eba68d58ee, orig_red_hat_text_regular;
                "
                ><span class="color_11"
                  ><span style="letter-spacing: 0.02em; color: #fff"
                    >Tern Systems 2022. All Rights Reserved.</span
                  ></span
                ></span
              ></span
            >
          </p>
        </div>

        <div
          id="comp-irx48avy"
          data-scope=""
          data-repeater-items-indexes=""
          class="WzbAF8"
        >
          <ul class="mpGTIt" aria-label="Social Bar">
            <li id="dataItem-irx48awd1-comp-irx48avy" class="O6KwRn">
              <a
                data-testid="linkElement"
                href="https://www.facebook.com/ternsystems/"
                target="_blank"
                class="oRtuWN"
                ><wix-image
                  id="img_0_comp-irx48avy"
                  class="I5zqsT YaS0jR"
                  data-image-info='{"containerId":"dataItem-irx48awd1-comp-irx48avy","displayMode":"fill","imageData":{"width":200,"height":200,"uri":"e316f544f9094143b9eac01f1f19e697.png","displayMode":"fill"}}'
                  data-has-bg-scroll-effect=""
                  data-bg-effect-name=""
                  data-has-ssr-src=""
                  data-src="https://static.wixstatic.com/media/e316f544f9094143b9eac01f1f19e697.png/v1/fill/w_31,h_31,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/e316f544f9094143b9eac01f1f19e697.png"
                  ><img
                    alt="Facebook Social Icon"
                    style="width: 25px; height: 25px; object-fit: cover"
                    fetchpriority="high"
                    src="https://static.wixstatic.com/media/e316f544f9094143b9eac01f1f19e697.png/v1/fill/w_31,h_31,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/e316f544f9094143b9eac01f1f19e697.png" /></wix-image
              ></a>
            </li>
            <li id="dataItem-jxn3slg6-comp-irx48avy" class="O6KwRn">
              <a
                data-testid="linkElement"
                href="https://www.linkedin.com/company/tern-systems/"
                target="_blank"
                class="oRtuWN"
                ><wix-image
                  id="img_1_comp-irx48avy"
                  class="I5zqsT YaS0jR"
                  data-image-info='{"containerId":"dataItem-jxn3slg6-comp-irx48avy","displayMode":"fill","imageData":{"width":200,"height":200,"uri":"48a2a42b19814efaa824450f23e8a253.png","displayMode":"fill"}}'
                  data-has-bg-scroll-effect=""
                  data-bg-effect-name=""
                  data-has-ssr-src=""
                  data-src="https://static.wixstatic.com/media/48a2a42b19814efaa824450f23e8a253.png/v1/fill/w_31,h_31,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/48a2a42b19814efaa824450f23e8a253.png"
                  ><img
                    alt="LinkedIn Social Icon"
                    style="width: 25px; height: 25px; object-fit: cover"
                    fetchpriority="high"
                    src="https://static.wixstatic.com/media/48a2a42b19814efaa824450f23e8a253.png/v1/fill/w_31,h_31,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/48a2a42b19814efaa824450f23e8a253.png" /></wix-image
              ></a>
            </li>
          </ul>
        </div>

        <br />

        <div
          id="comp-kzwttm0j"
          data-scope=""
          data-repeater-items-indexes=""
          class="KcpHeO tz5f0K"
          data-testid="richTextElement"
        >
          <p class="font_8" style="font-size: 16px; line-height: 2em">
            <span style="font-size: 16px"
              ><span style="font-size: 16px">
                <a
                  target="_self"
                  data-popupid="t0m6e"
                  role="button"
                  aria-haspopup="dialog"
                  tabindex="0"
                  ><span style="font-size: 16px">
                    <span style="color: #ff5b2f"
                      ><span
                        style="
                          font-family: wfont_46a067_3cd3f1a86ec441748382f9956b9c098f,
                            wf_3cd3f1a86ec441748382f9956,
                            orig_red_hat_text_medium;
                        "
                        ><span style="letter-spacing: 0.02em"
                          >Privacy Policy</span
                        ></span
                      ></span
                    ><span class="color_11"
                      ><span
                        style="
                          font-family: wfont_46a067_3cd3f1a86ec441748382f9956b9c098f,
                            wf_3cd3f1a86ec441748382f9956,
                            orig_red_hat_text_medium;
                        "
                        ><span style="letter-spacing: 0.02em"
                          >&nbsp;</span
                        ></span
                      ></span
                    ></span
                  ></a
                ></span
              ><span class="color_11"
                ><span
                  style="
                    font-family: wfont_46a067_3cd3f1a86ec441748382f9956b9c098f,
                      wf_3cd3f1a86ec441748382f9956, orig_red_hat_text_medium;
                  "
                  ><span style="letter-spacing: 0.02em">
                    |&nbsp;
                  </span></span
                ></span
              ><a
                target="_self"
                data-popupid="t0m6f"
                role="button"
                aria-haspopup="dialog"
                tabindex="0"
                ><span style="color: #ff5b2f"
                  ><span
                    style="
                      font-family: wfont_46a067_3cd3f1a86ec441748382f9956b9c098f,
                        wf_3cd3f1a86ec441748382f9956,
                        orig_red_hat_text_medium;
                    "
                    ><span style="letter-spacing: 0.02em"
                      >Our Recruitment Process</span
                    ></span
                  ></span
                ></a
              ></span
            >
          </p>
        </div>

        <img
          class="ternlogofooter"
          src="https://static.wixstatic.com/media/d35b64_11c7ef7b74f4456392688e76067491f5~mv2.png/v1/fill/w_175,h_164,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/IQNet%20Schwarz.png"
          alt="IQNet Schwarz.png"
          style="width: 140px; height: 131px; object-fit: cover"
          fetchpriority="high"
        />
        <img
          class="ternlogofooter"
          src="https://static.wixstatic.com/media/d35b64_2b2cc4f844ad4a51956152ff5194f0bb~mv2.png/v1/fill/w_190,h_164,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ISO%209001-2015%20English.png"
          alt="ISO 9001-2015 English.png"
          style="width: 152px; height: 131px"
          fetchpriority="high"
        />
      </div>
      <div class="bottom-right_footer">
        <div
          id="comp-jx1lbctp"
          data-scope=""
          data-repeater-items-indexes=""
          class="bkIuWA"
        >
          <div
            data-mesh-id="comp-jx1lbctpinlineContent"
            data-testid="inline-content"
            class=""
          >
            <div
              data-mesh-id="comp-jx1lbctpinlineContent-gridContainer"
              data-testid="mesh-container-content"
            >
              <form id="comp-jx1lbcv3" class="JVi7i2">
                <div
                  data-mesh-id="comp-jx1lbcv3inlineContent"
                  data-testid="inline-content"
                  class=""
                >
                  <div
                    data-mesh-id="comp-jx1lbcv3inlineContent-gridContainer"
                    data-testid="mesh-container-content"
                  >
                    <div
                      id="comp-jx1lbd36"
                      data-scope=""
                      data-repeater-items-indexes=""
                      class="MpKiNN lPl_oN LyB02C"
                    >
                      <div class="pUnTVX">
                        <input
                          type="text"
                          name="name"
                          id="input_comp-jx1lbd36"
                          class="KvoMHf has-custom-focus"
                          value=""
                          placeholder="Name"
                          required=""
                          aria-required="true"
                          maxlength="100"
                          aria-label="Name"
                          aria-invalid="false"
                        />
                      </div>
                    </div>
                    <div
                      id="comp-jx1lbd38"
                      data-scope=""
                      data-repeater-items-indexes=""
                      class="MpKiNN lPl_oN LyB02C"
                    >
                      <div class="pUnTVX">
                        <input
                          type="email"
                          name="email"
                          id="input_comp-jx1lbd38"
                          class="KvoMHf has-custom-focus"
                          value=""
                          placeholder="Email"
                          required=""
                          aria-required="true"
                          maxlength="250"
                          aria-label="Email"
                          aria-invalid="false"
                        />
                      </div>
                    </div>
                    <div
                      id="comp-jx1lbd3a"
                      data-scope=""
                      data-repeater-items-indexes=""
                      class="MpKiNN lPl_oN LyB02C"
                    >
                      <div class="pUnTVX">
                        <input
                          type="text"
                          name="subject"
                          id="input_comp-jx1lbd3a"
                          class="KvoMHf has-custom-focus"
                          value=""
                          placeholder="Subject"
                          required=""
                          aria-required="true"
                          aria-label="Subject"
                          aria-invalid="false"
                        />
                      </div>
                    </div>
                    <div
                      id="comp-jx1lbd3f"
                      data-scope=""
                      data-repeater-items-indexes=""
                      class="textarea_holder_footer"
                    >
                      <textarea
                        id="textarea_comp-jx1lbd3f"
                        class="rEindN has-custom-focus"
                        placeholder="Message"
                        required=""
                        aria-required="true"
                        aria-invalid="false"
                      ></textarea>
                    </div>
                    <div
                      data-scope=""
                      data-repeater-items-indexes=""
                      class="submitButtonHolder"
                      id="comp-jx1lbd2x"
                      aria-disabled="false"
                    >
                      <button
                        aria-disabled="false"
                        data-testid="buttonElement"
                        class="kuTaGy"
                      >
                        <span class="M3I7Z2">Submit</span>
                      </button>
                    </div>
                    <div
                      id="comp-jx1lbd3i"
                      data-scope=""
                      data-repeater-items-indexes=""
                      class="KcpHeO tz5f0K"
                      data-testid="richTextElement"
                    >
                      <p
                        class="font_8"
                        style="
                          font-size: 14px;
                          line-height: normal;
                          text-align: right;
                        "
                      ></p>
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>