<nav class="navbar">
    <!-- LOGO -->

    <a href="#"><img
      class="logo firsteftLogo"
      src="https://static.wixstatic.com/media/ccc84a_8858e9b615d946daae60cc203b4b7609~mv2.png/v1/crop/x_5,y_0,w_665,h_66/fill/w_319,h_31,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/ccc84a_8858e9b615d946daae60cc203b4b7609~mv2.png"
    />
  </a>

    <!-- NAVIGATION MENU -->

    <img
      class="logo middleeLogo"
      style="width: 50px; height: 50px;object-fit: contain;"
      src="https://static.wixstatic.com/media/d35b64_265d04879efa424d9615da1097732180~mv2.png/v1/fill/w_76,h_75,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/Tern_logo_2018_No_Text.png"
      alt=""
    />

    <ul class="nav-links">
      <!-- USING CHECKBOX HACK -->

      <input type="checkbox" id="checkbox_toggle" />

      <label for="checkbox_toggle" class="hamburger">&#9776;</label>

      <!-- NAVIGATION MENUS -->

      <div class="menu">


        <li ><a href="#" class="active" >Home</a></li>

        <li id="managePdfModalOpener">Manage Pdf</li>

        <li><a href="#contact">Contact</a></li>
      </div>
    </ul>
  </nav>